:root {
    --bg: #f3f3f3;
    --fg: #000000;
    --acc: #8f8f8f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Times New Roman';
    font-size: 1em;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
}

#controls-window {
    margin: 1rem;
    width: 300;
    height: fit-content;
    flex-shrink: 0; /* Prevent the window from shrinking */
}

#controls-window .window-body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#info-panel,
#more-panel {
    padding: 0.5rem;
}

#more-window {
    display: none;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 500px;
    min-width: 250px; 
    min-height: 150px;
    height: max-content;
    transform: translate(-50%, -50%); /* Corrected to center properly */
}
.resizer {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H15V1H14V2H13V3H12V4H11V5H10V6H9V7H8V8H7V9H6V10H5V11H4V12H3V13H2V14H1V15H0V16H1V15H2V14H3V13H4V12H5V11H6V10H7V9H8V8H9V7H10V6H11V5H12V4H13V3H14V2H15V1H16V0ZM12 12H11V13H10V14H9V15H8V16H9V15H10V14H11V13H12V12ZM16 8H15V9H14V10H13V11H12V12H11V13H10V14H9V15H8V16H12V15H13V14H14V13H15V12H16V11V8Z' fill='%23C0C0C0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1H16V0H15V1ZM14 2H15V1H14V2ZM13 3H14V2H13V3ZM12 4H13V3H12V4ZM11 5H12V4H11V5ZM10 6H11V5H10V6ZM9 7H10V6H9V7ZM8 8H9V7H8V8ZM7 9H8V8H7V9ZM6 10H7V9H6V10ZM5 11H6V10H5V11ZM4 12H5V11H4V12ZM3 13H4V12H3V13ZM2 14H3V13H2V14ZM1 15H2V14H1V15ZM0 16H1V15H0V16ZM8 15H9V16H8V15ZM10 14H9V15H10V14ZM11 13H10V14H11V13ZM12 12H11V13H12V12ZM12 15H13V16H12V15ZM14 14H13V15H14V14ZM15 13H14V14H15V13ZM16 12H15V13H16V12ZM16 11H15V12H16V11ZM16 8H15V9H16V8Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0H13V1H12V2H11V3H10V4H9V5H8V6H7V7H6V8H5V9H4V10H3V11H2V12H1V13H0V14H1V13H2V12H3V11H4V10H5V9H6V8H7V7H8V6H9V5H10V4H11V3H12V2H13V1H14V0ZM10 12H9V13H8V14H7V15H6V16H7V15H8V14H9V13H10V12ZM14 8H13V9H12V10H11V11H10V12H9V13H8V14H7V15H6V16H10V15H11V14H12V13H13V12H14V11V8Z' fill='black'/%3E%3C/svg%3E%0A");
    cursor: nwse-resize;
}

#preview {
    flex: 2;
    background-color: var(--acc);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 45%;
        height: 90%;
    }
    #og-page, #rmx-page {
        font-family: 'Times New Roman';
        font-size: 1em;
        background: var(--bg);
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        position: relative; /* Crucial for positioning layout blocks */
        overflow: hidden;
        #pdf-canvas {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .layout-block {
            position: absolute;
            background-color: none;
            border: 1px none var(--fg);
            box-sizing: border-box;
            color: var(--fg);
            overflow: hidden;
            padding: 2px;
            white-space: pre-wrap; /* Respects whitespace and wraps text */
            word-break: break-all;
        }
        .sentence-block {
            font-size: 0.5em;
        }
        .multi-term-block {
            font-size: 0.7em;
        }
        .basic-block {
            font-size: 0.9em;
        }
    }
}