body {
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Add the 20px spacing here */
    box-sizing: border-box; /* This is key: it includes padding in the 100vh height */
}

#main-container {
    margin: 0; /* Remove the margin from the container */
    width: 100%;
    height: 100%; /* The container will now fill the padded area of the body */
}

/*p:hover,
a:hover {
    text-shadow:
    1px 1px 2px #868686,
    0 0 1em #414141,
    0 0 0.2em #010101;
}*/

a:hover {
    text-decoration: underline !important;
}