body {
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

#main-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

body,
.sunken-panel, table,
ul.tree-view {
    background-color: #f3f3f3 !important;
}
.sunken-panel {
    max-height: 600px;
    overflow: auto;
}

a:hover {
    text-decoration: underline !important;
}