:root {
    --bg-color: #ececec;
    --fg-color: #08000d;
    --font-size: 5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    height: 100vh;
    overflow: hidden;
}

#controls-window {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 20px;
    width: 300px;
}

#controls-window .window-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

button#uploadBtn {
    cursor: pointer;
}
#fileInput {
    display: none;
}

#pdf-text
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 5%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--bg-color);
    filter: blur(3.5px);
    animation: autoScrollInv 15s linear infinite;
    transition: animation-play-state 3.3s ease;
    mix-blend-mode: difference;
    pointer-events: none;
    font-family: 'Times New Roman';
}

#terms 
{
    font-family: 'Times New Roman';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 33%;
    height: auto;
    padding: 20px;
    color: var(--bg-color);
    font-size: var(--font-size);
    overflow-y: hidden;
    animation: autoScroll 60s linear infinite;
    transition: animation-play-state 3.3s ease;
    mix-blend-mode: difference;
}

#pdf-text:hover,
#terms:hover
{
    animation-play-state: paused;
}

#image-container 
{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.0);
    opacity: 0.8;
}

@keyframes autoScroll 
{
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes autoScrollInv
{
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100%);
    }
}

@media (max-width: 768px) 
{
    :root {
        --font-size: 1.5em;
    }
    
    .upload-container 
    {
        flex-direction: column;
        flex: 0 0 40%;
    }
}